@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  transition: all 300ms ease;
}

html,
body {
  font-size: 16px;
  @apply bg-secondary text-primary;
  height: 100%;
  margin: 0;
  padding: 0;
}

a:hover {
  @apply text-accent1;
}

p {
  @apply mb-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
