@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(251, 249, 245);
  --primary: #2d2323;
}

body {
  color: var(--primary);
  background-color: var(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
